//*-------------------------*/
//* subNav
//*-------------------------*/
.nav-scroller {
  overflow-y: hidden;
  background-color: $white;
  @include pad(992){
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
.subNav{
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  background-color: $white;
  @include pad(768){
    justify-content: center;
  }
  &＿link{
    padding-top: 1.4rem; 
    padding-bottom: 1.4rem;
    background: 
    linear-gradient(
      to left ,
      $secondary, $secondary
    ) no-repeat 0 4rem / 0 0.1rem;
    transition: background-size .3s;
    &:hover , &.active{
      background-size: 100% 0.1rem;
    }
  }
}
