//*-------------------------*/
//* timeline
//*-------------------------*/ 
.timeline {
  &::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0.3rem;
    background-color: $secondary;
  }
  &＿pointer{
    position: relative;
    display: flex;
    padding-top: 0.8rem;
    justify-content: center;
    align-items: center;
  }
  &＿pointer::before {
    @include width (0.8rem , 0.8rem);
    content: "";
    position: absolute;
    left: 50%;
    top: 0.1rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary;
    z-index: 1;
  }
}


/* 追蹤時狀態 其餘狀態反白 */
.item.active p{
  font-weight: 500;
}
.item.active ~ .item .timeline＿pointer:before {
  border: 1px solid $secondary;
  background-color: $white;
}
