<!-- cardList-->
<div class="cardList bg-black text-white offcanvas offcanvas-end ps-4 ps-lg-8 pe-2 pe-lg-4" 
tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">


  <div class="offcanvas-header ps-0 pt-5 pb-3 pt-lg-8 pe-2 pe-lg-4">
    <h5 id="offcanvasRightLabel" class="fz-l fz-lg-l">Card List</h5>
    <span class="material-icons cursor-pointer" data-bs-dismiss="offcanvas" aria-label="Close">close</span>
  </div>
  <ul class="offcanvas-body ps-0 pe-2 pe-lg-4">
    <li class="cardList＿item bg-white text-black d-flex align-content-between position-relative 
    pt-9 pt-lg-7 pb-4 pb-lg-6 px-4 px-lg-8 mb-2 mb-lg-3">
      <div class="close position-absolute lh-0 js-delete">
        <span class="material-icons cursor-pointer">close</span>
      </div>
      <div class="me-4 flex-shrink-0">
        <img src="./assets/images/product-1.jpg" class="image object-cover" alt="productDesign">
      </div>
      <div class="flex-grow-1 d-flex flex-column">
        <p class="mb-1 fw-700">2021 台味設計展</p>
        <p class="mb-1 fw-500">01 JUN — 31 OCT</p>
        <p class="text-muted fw-300">全票</p>
        <p class="fz-m fw-700 mt-auto">NT$350</p>
      </div>
      <ul class="d-flex flex-column justify-content-center align-items-center flex-lg-row">
        <li class="lh-0 order-lg-3 mb-1 mb-lg-0">
          <span class="material-icons cursor-pointer">add</span>
        </li>
        <li class="fz-m fw-700 px-1 px-md-3">01</li>
        <li class="lh-0 order-lg-first mt-1 mt-lg-0">
          <span class="material-icons cursor-pointer">remove</span>
        </li>
      </ul>
    </li>
    <li class="cardList＿item bg-white text-black d-flex align-content-between position-relative 
    pt-9 pt-lg-7 pb-4 pb-lg-6 px-4 px-lg-8 mb-2 mb-lg-3">
      <div class="close position-absolute lh-0 js-delete">
        <span class="material-icons cursor-pointer">close</span>
      </div>
      <div class="me-4 flex-shrink-0">
        <img src="./assets/images/product-2.jpg" class="image object-cover" alt="productDesign">
      </div>
      <div class="flex-grow-1 d-flex flex-column">
        <p class="mb-1 fw-700">No.22 線上設計展</p>
        <p class="mb-1 fw-500">01 JUN — 31 OCT</p>
        <p class="text-muted fw-300">全票</p>
        <p class="fz-m fw-700 mt-auto">NT$350</p>
      </div>
      <ul class="d-flex flex-column justify-content-center align-items-center flex-lg-row">
        <li class="lh-0 order-lg-3 mb-1 mb-lg-0">
          <span class="material-icons cursor-pointer">add</span>
        </li>
        <li class="fz-m fw-700 px-1 px-md-3">01</li>
        <li class="lh-0 order-lg-first mt-1 mt-lg-0">
          <span class="material-icons cursor-pointer">remove</span>
        </li>
      </ul>
    </li>
    <li class="cardList＿item bg-white text-black d-flex align-content-between position-relative 
    pt-9 pt-lg-7 pb-4 pb-lg-6 px-4 px-lg-8 mb-2 mb-lg-3">
      <div class="close position-absolute lh-0 js-delete">
        <span class="material-icons cursor-pointer">close</span>
      </div>
      <div class="me-4 flex-shrink-0">
        <img src="./assets/images/product-3.jpg" class="image object-cover" alt="productDesign">
      </div>
      <div class="flex-grow-1 d-flex flex-column">
        <p class="mb-1 fw-700">高雄設計節</p>
        <p class="mb-1 fw-500">01 JUN — 31 OCT</p>
        <p class="text-muted fw-300">全票</p>
        <p class="fz-m fw-700 mt-auto">NT$350</p>
      </div>
      <ul class="d-flex flex-column justify-content-center align-items-center flex-lg-row">
        <li class="lh-0 order-lg-3 mb-1 mb-lg-0">
          <span class="material-icons cursor-pointer">add</span>
        </li>
        <li class="fz-m fw-700 px-1 px-md-3">01</li>
        <li class="lh-0 order-lg-first mt-1 mt-lg-0">
          <span class="material-icons cursor-pointer">remove</span>
        </li>
      </ul>
    </li>
    <li class="cardList＿item bg-white text-black d-flex align-content-between position-relative 
    pt-9 pt-lg-7 pb-4 pb-lg-6 px-4 px-lg-8 mb-2 mb-lg-3">
      <div class="close position-absolute lh-0 js-delete">
        <span class="material-icons cursor-pointer">close</span>
      </div>
      <div class="me-4 flex-shrink-0">
        <img src="./assets/images/product-1.jpg" class="image object-cover" alt="productDesign">
      </div>
      <div class="flex-grow-1 d-flex flex-column">
        <p class="mb-1 fw-700">2021 台味設計展</p>
        <p class="mb-1 fw-500">01 JUN — 31 OCT</p>
        <p class="text-muted fw-300">全票</p>
        <p class="fz-m fw-700 mt-auto">NT$350</p>
      </div>
      <ul class="d-flex flex-column justify-content-center align-items-center flex-lg-row">
        <li class="lh-0 order-lg-3 mb-1 mb-lg-0">
          <span class="material-icons cursor-pointer">add</span>
        </li>
        <li class="fz-m fw-700 px-1 px-md-3">01</li>
        <li class="lh-0 order-lg-first mt-1 mt-lg-0">
          <span class="material-icons cursor-pointer">remove</span>
        </li>
      </ul>
    </li>
    <li class="cardList＿item bg-white text-black d-flex align-content-between position-relative 
    pt-9 pt-lg-7 pb-4 pb-lg-6 px-4 px-lg-8 mb-2 mb-lg-3">
      <div class="close position-absolute lh-0 js-delete">
        <span class="material-icons cursor-pointer">close</span>
      </div>
      <div class="me-4 flex-shrink-0">
        <img src="./assets/images/product-2.jpg" class="image object-cover" alt="productDesign">
      </div>
      <div class="flex-grow-1 d-flex flex-column">
        <p class="mb-1 fw-700">No.22 線上設計展</p>
        <p class="mb-1 fw-500">01 JUN — 31 OCT</p>
        <p class="text-muted fw-300">全票</p>
        <p class="fz-m fw-700 mt-auto">NT$350</p>
      </div>
      <ul class="d-flex flex-column justify-content-center align-items-center flex-lg-row">
        <li class="lh-0 order-lg-3 mb-1 mb-lg-0">
          <span class="material-icons cursor-pointer">add</span>
        </li>
        <li class="fz-m fw-700 px-1 px-md-3">01</li>
        <li class="lh-0 order-lg-first mt-1 mt-lg-0">
          <span class="material-icons cursor-pointer">remove</span>
        </li>
      </ul>
    </li>
    <li class="cardList＿item bg-white text-black d-flex align-content-between position-relative 
    pt-9 pt-lg-7 pb-4 pb-lg-6 px-4 px-lg-8 mb-2 mb-lg-3">
      <div class="close position-absolute lh-0 js-delete">
        <span class="material-icons cursor-pointer">close</span>
      </div>
      <div class="me-4 flex-shrink-0">
        <img src="./assets/images/product-3.jpg" class="image object-cover" alt="productDesign">
      </div>
      <div class="flex-grow-1 d-flex flex-column">
        <p class="mb-1 fw-700">高雄設計節</p>
        <p class="mb-1 fw-500">01 JUN — 31 OCT</p>
        <p class="text-muted fw-300">全票</p>
        <p class="fz-m fw-700 mt-auto">NT$350</p>
      </div>
      <ul class="d-flex flex-column justify-content-center align-items-center flex-lg-row">
        <li class="lh-0 order-lg-3 mb-1 mb-lg-0">
          <span class="material-icons cursor-pointer">add</span>
        </li>
        <li class="fz-m fw-700 px-1 px-md-3">01</li>
        <li class="lh-0 order-lg-first mt-1 mt-lg-0">
          <span class="material-icons cursor-pointer">remove</span>
        </li>
      </ul>
    </li>
  </ul>
  <div class="offcanvas-footer d-flex justify-content-between align-items-center ps-0 pe-2 pe-lg-4">
    <div class="d-flex align-items-center fz-m py-9">
      <span class="me-6">小計</span>
      <span>NT$2100</span>
    </div>
    <a href="./checkout-A.html" class="btn btn-lg btn-white fz-base text-primary px-7">前往結帳</a>
  </div>
</div>
