<!-- modal signIn -->
<div class="modal fade" id="signInModal" 
data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header px-4 py-4">
        <h5 class="modal-title text-fourthl fs-l" id="staticBackdropLabel">登入 Sign in</h5>
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- modal-body -->
      <form class="modal-body px-4 pt-6 pb-10">
        <div class="mb-4">
          <label for="useEmail" class="form-label text-black mb-2">帳號信箱</label>
          <input type="email" name="dataMail" id="useEmail" class="form-control border-0 fs-s"  placeholder="請輸入 電子郵件" required>
        </div>
        <div class="mb-2">
          <label for="usePassword" class="form-label text-black mb-2">密碼</label>
          <input type="password" name="dataPassword" id="usePassword" class="form-control border-0 fs-s" placeholder="請輸入 密碼2" autocomplete="off" required>
        </div>
        <a href="javascript:;" class="text-secondary fs-s mb-4">忘記密碼？</a>
        <button type="submit" class="btn btn-secondary w-100 text-white fs-m rounded-pill py-3 lh-sm">登入</button>
      </form>
      <!-- progress -->
      <div class="mb-8">
        <div class="position-relative m-4">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="btn bg-white text-muted
          position-absolute top-50 start-50 translate-middle px-2 fs-s">還沒有帳號？
            <a href="javascript:;"
            data-bs-toggle="modal" data-bs-target="#signUpModal" data-bs-dismiss="modal"
            class="text-primary text-decoration-none">註冊一個帳號</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal signUp -->
<div class="modal fade" id="signUpModal" 
data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header px-4 py-4">
        <h5 class="modal-title text-fourthl fs-l" id="staticBackdropLabel">註冊 Sing up</h5>
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- modal-body -->
      <form class="modal-body px-4 pt-6 pb-10">
        <div class="mb-4">
          <label for="usename" class="form-label text-black mb-2">姓名</label>
          <input type="text" name="dataName" id="usename" class="form-control border-0 fs-s" placeholder="請輸入 姓名" required>
        </div>
        <div class="mb-4">
          <label for="useemail" class="form-label text-black mb-2">電子郵件</label>
          <input type="email" name="dataMail" id="useemail" class="form-control border-0 fs-s" placeholder="請輸入 電子郵件" required>
        </div>
        <div class="mb-4">
          <label for="usephone" class="form-label text-black mb-2">手機</label>
          <input type="tel" name="dataNumber" id="usephone" class="form-control border-0 fs-s" placeholder="請輸入 手機" required>
        </div>
        <div class="mb-4">
          <label for="usedate" class="form-label text-black mb-2">生日</label>
          <input type="date" name="dataDate" id="usedate" class="form-control border-0 fs-s"  placeholder="請輸入 生日" required>
        </div>
        <div class="mb-2">
          <label for="password" class="form-label text-black mb-2">密碼</label>
          <input type="password" name="dataPassword" id="password" class="form-control border-0 fs-s" placeholder="請輸入 密碼" autocomplete="off" required>
        </div>
        <button type="submit" class="btn btn-secondary w-100 text-white fs-m rounded-pill py-3 lh-sm">加入會員</button>
      </form>
      <!-- progress -->
      <div class="mb-8">
        <div class="position-relative m-4">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="btn bg-white text-muted
          position-absolute top-50 start-50 translate-middle px-2 fs-s">已經有會員帳號了?
            <a href="javascript:;"
            data-bs-toggle="modal" data-bs-target="#signInModal" data-bs-dismiss="modal"
            class="text-primary text-decoration-none">來去登入</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
