<section class="recommend">
  <div class="container">
    <div class="row">
      <h2 class="fz-2xl mb-2 mb-md-6">猜你也喜歡...</h2>
    </div>
    <div class="row mb-6 mb-md-12">
      <div class="col-12 col-lg-11 offset-lg-1">
        <!-- Swiper -->
        <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <!-- 1 -->
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-1.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">No.22 線上設計展</h3>
                  <p class="card-text fz-m">$350</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-2.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">No.22 線上設計展</h3>
                  <p class="card-text fz-m">$350</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-3.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">No.22 線上設計展</h3>
                  <p class="card-text fz-m">$350</p>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-5.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">2021 台味設計展</h3>
                  <p class="card-text fz-m">$399</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-4.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">2021 台味設計展</h3>
                  <p class="card-text fz-m">$399</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-6.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">2021 台味設計展</h3>
                  <p class="card-text fz-m">$399</p>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-7.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">高雄設計節</h3>
                  <p class="card-text fz-m">$350</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-8.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">高雄設計節</h3>
                  <p class="card-text fz-m">$350</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card position-relative">
                <a href="javascript:;" class="linkArea"></a>
                <img src="./assets/images/love-9.jpg" class="card-img-top" alt="photos">
                <div class="card-body pb-0 pt-2 pt-md-1">
                  <h3 class="card-title fz-m fw-700 mb-1">高雄設計節</h3>
                  <p class="card-text fz-m">$350</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
