<div class="nav-scroller border-bottom border-gray-600">
  <nav class="nav subNav">
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4">音樂</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4">戲劇</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4 <%= current === 'design' && 'active' -%>">設計</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4">藝術</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4">美食</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4">旅遊</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4">電影</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4 me-4">親子</a>
    <a href="./product.html" class="nav-link subNav＿link text-muted px-4">期間限定</a>
  </nav>
</div>
