/*-------------------------*/
/* ticket
---------------------------*/
.detail{
  &＿ticket{
    padding-top: 4.4rem;
    padding-bottom: 4rem;
    @include pad(992){
      padding-top: 8rem;
    }
  }
  .imgBox{
    padding-bottom: 74.2%;
    @include pad(992){
      padding-bottom: 47.4%;
    }
  }
  .card-title{
    margin: 0;
    margin-right: 1rem;
  }
  .card-body{
    padding-top: 0.8rem;
    padding-bottom: 0;
  }
  .card＿item{
    @include pad(992){
      height: calc(100% - 10rem);
      padding-top: 8.5rem;
    }
  }
  .textBox{
    font-weight: 500;
    @include pad(992){
      font-weight: 700;
      font-size: $font-m;
      color: $white;
      position: absolute;
      top: 3.3rem;
      right: 3.4rem;
      width: 3.9rem;
    }
    @include desktop(1200){
      top: 5.3rem;
    }
  }
  .material-icons{
    cursor: pointer;
  }
  .ticketType{
    &＿item{
      cursor: pointer;
      background: 
      linear-gradient(
        to left ,
        $secondary, $secondary
      ) no-repeat 0 3.2rem / 0 0.1rem;
      transition: background-size .3s;
      &:hover , &.active{
        background-size: 100% 0.1rem;
      }
    }
  }
}
// 線段
.card＿item:first-child{
  @include pad(768){
    position: relative;
  }
}
.card＿item:first-child ::before{
  @include pad(768){
    content: "";
    position: absolute;
    top: 50%;
    right: -0.1rem;
    width: 0.1rem;
    height: 95%;
    transform: translateY(-50%);
    background-color: $black;
  }
}
/*-------------------------*/
/* introduce
---------------------------*/
.detail{
  .introduceImg1{
    height: 40rem;
  }
  .introduceImg2{
    height: 55.9rem;
  }
}
