/*-------------------------*/
/* product
---------------------------*/
.product＿item{
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  @include pad(992){
    padding-top: 8rem;
    padding-bottom: 5.2rem;
  }
  .textBox{
    font-weight: 500;
    @include pad(992){
      font-weight: 700;
      font-size: $font-m;
      max-width: 6.5rem;
    }
  }
}
