<footer class="footer">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-0">
    <div class="container flex-lg-nowrap justify-content-lg-between py-3 py-lg-6">
      <div class="d-md-flex align-items-md-center">
        <h5 class="h3 fw-400 text-black">
          <a href="./index.html" class="text-reset">EXHIBINECTION</a>
        </h5>
        <p class="copyright ms-md-4">© 2021. All Rights Reserved.</p>
      </div>
      <div class="collapse navbar-collapse flex-lg-grow-0" id="navbarNavDropdown">
        <ul class="navbar-nav mt-4 mt-lg-0">
          <li class="nav-item me-lg-8">
            <a class="nav-link text-muted text-center" href="javascript:;"
            data-bs-toggle="modal" data-bs-target="#signInModal"
            >Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted text-center" href="javascript:;"
            data-bs-toggle="modal" data-bs-target="#signUpModal"
            >Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
