<nav class="navbar navbar-expand-lg navbar-light bg-white py-0">
  <div class="container flex-lg-nowrap justify-content-lg-end py-4 py-lg-6">
    <button class="navbar-toggler collapsed" type="button" 
    data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="logo h3 fw-400 text-primary">
      <a href="./index.html" class="text-reset">EXHIBINECTION</a>
    </h1>
    <a class="position-relative order-lg-last lh-0" href="javascript:;" 
    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <span class="material-icons text-black text-primary">confirmation_number</span>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">3
        <span class="visually-hidden">unread messages</span>
      </span>
    </a>
    <div class="collapse navbar-collapse flex-lg-grow-0" id="navbarNavDropdown">
      <ul class="navbar-nav mt-4 mt-lg-0">
        <li class="nav-item me-lg-8">
          <a class="nav-link text-muted text-center" href="javascript:;"
          data-bs-toggle="modal" data-bs-target="#signInModal"
          >Sign in</a>
        </li>
        <li class="nav-item me-lg-8">
          <a class="nav-link text-muted text-center" href="javascript:;"
          data-bs-toggle="modal" data-bs-target="#signUpModal"
          >Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
